__pycache__
.env
.venv
.python-version
.DS_Store
good_string_replace.py
good_string_replaceBACKUP.py
look_at_scrape.py
scrape_trials
WAS
dominos
nohup.out
uvicorn.log
saved_trajectories
trajectorychecker.py

*.zip
**/.claude/settings.local.json
